<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC</title>

    <script type="module" src="../model.js"></script>
    <script type="module" src="../controller.js"></script>
    <script type="module">
      import { Controller } from "../controller.js";

      const callController = (event) => {
        event.preventDefault();
        event.stopPropagation();

        const name = document.getElementById("name").value;
        const birthDate = document.getElementById("birthDate").value;
        new Controller().createModel(name, birthDate);
      };

      document.addEventListener("DOMContentLoaded", () => {
        document
          .querySelector("form")
          .addEventListener("submit", callController);
      });
    </script>
  </head>

  <body>
    <form action="">
      <fieldset>
        <legend>form 1</legend>

        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" />
        </div>

        <div>
          <label for="birthDate">Birth Date:</label>
          <input type="date" id="birthDate" />
        </div>

        <input type="reset" value="reset" />
        <input type="submit" value="submit" />
      </fieldset>
    </form>
  </body>
</html>
